body {
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    background-position-x: 100%;
    background-attachment: fixed;
}

#saludo {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    text-align: center;
}

button {
    font-family: 'Quicksand', sans-serif;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: indigo;
    color: white;
    font-size: 24px;
    margin: auto;
    display: block;
}

#toca {
    line-height: 10px;
}